.container {
    background-image: url('foto3.jpg');
    background-size: cover;
    background-position: center;
    padding: 230px;
}
.container2 {
    background-image: url('foto8.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px;
}
.shapka {
    background-image: url('shapka.jpg');
    background-size: cover;
    background-position: center;
    padding: 5px;
}
.shapka2 {
    background-image: url('shapka.jpg');
    background-size: cover;
    background-position: center;
    padding: 5px;
}
.video {
margin-left: 0px;
}

h1 {
    font-size: 120px; 
    text-align: center;
    margin-top: 50px;
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

h2 {
    font-size: 60px; 
    text-align: left;
    margin-top: 50px;
    color:  #060606;
   
}

h3 {
    font-size: 60px; 
    text-align: center;
    margin-top: 50px;
    color:  #060606;
    
} 


h4 {
    font-size: 30px; 
    text-align: center;
    margin-bottom: 20px;
    color: #fff; 
    line-height: 1.6; 
    background-color: #ff0b22;
    border-radius: 5px;
    transition: background-color 0.3s;
}

h5 {
    font-size: 30px; 
    text-align: center;
    margin-bottom: 20px;
    color:  #060606; 
    line-height: 1.6; 
     margin-left: 175px;
}


h6 {
    font-size: 40px; 
    text-align: center;
    margin-top: 50px;
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

li {
    font-size: 16px; 
    text-align: left;
    margin-bottom: 20px;
    color: #fff; 
    line-height: 1.6; 
}

p {
    font-size: 20px; 
    text-align: center;
    margin-bottom: 20px;
    color: #979797; 
    line-height: 1.6; 
}


.links-shapka {
     font-size: 20px; 
    text-align: center; 
    margin-top: 20px; 
}

.links-shapka a {
    display: inline-block; 
    margin: 0 10px; 
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.links-shapka a:hover {
    color: #ff2315; 
    text-decoration-color: #ff2315; 
}

.links-shapka2 {
     font-size: 20px; 
    text-align: left; 
    margin-top: 20px; 
}

.links-shapka2 a {
    display: inline-block; 
    margin: 0 10px; 
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.links-shapka2 a:hover {
    color: #ff2315; 
    text-decoration-color: #ff2315; 
}

.links-Logo {
     font-size: 40px; 
    text-align: left; 
    margin-top: 20px; 
}

.links-Logo a {
    display: inline-block; 
    margin: 0 10px; 
    padding: 10px 10px;
    text-decoration: none;
    color: #ff2315;
    border-radius: 10px;
}

.links-Logo a:hover {
    text-decoration: none;
}
.links-Logo2 {
     font-size: 30px; 
    text-align: left; 
    margin-top: 20px; 
}

.links-Logo2 a {
    display: inline-block; 
    margin: 0 10px; 
    padding: 10px 20px;
    text-decoration: none;
    color:  #666666;
    border-radius: 10px;
}

.links-Logo2 a:hover {
    text-decoration: none;
}

.links-container {
    text-align: left; 
    margin-top: 20px; 
}

.links-container a {
    display: inline-block; 
    margin: 0 10px; 
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #a917a4;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.links-container a:hover {
    background-color: #666666;
    text-decoration: none;
}

.links-containere {
    text-align: center;
    margin-top: 20px; 
}

.links-containere a {
    display: inline-block; 
    margin: 0 10px; 
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #a917a4;
    background-color: #a917a4;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.links-containere a:hover {
    background-color: #666666;
    text-decoration: none;
}

.links-project {
     font-size: 30px; 
    text-align: center;
    margin-top: 20px; 
}

.links-project a {
    display: inline-block; 
    margin: 0 10px; 
    padding: 27px 200px;
    text-decoration: none;
    color: #fff;
    background-color: #ff0b22;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.links-project a:hover {
    background-color: #666666;
    text-decoration: none;
}



img {
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: auto;
}

.image-container {
    text-align: center; 
}

.image-container img {
   display: inline-block;
    margin-right: 10px; 
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: auto;
}
.image-container2 {
    text-align: center; 
}

.image-container2 img {
   display: inline-block;
    margin-right: 150px; 
     margin-left: 150px; 
    border-radius: 50px;
    max-width: 100%;
    height: auto;
}

#contact {
  padding: 80px;
  text-align: center;
  background-image: url('animat4.jpg');
}

#contact h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

#contact form {
  max-width: 400px;
  margin: 0 auto;
}

#contact input,
#contact textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#contact button[type="submit"] {
  padding: 10px 20px;
  background-color: #f0ac00;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#contact button[type="submit"]:hover {
  background-color: #333;
}

.footer-container {
    background-image: url('shapka.jpg');
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.proj {
    color: white;
        width: 80%;
    margin-left: 175px;
}

